form  { display: table;      }
align { display: table-row;  }
label { display: table-cell; }
input {
    display: table-cell;
    text-align: right;
}

.inline-div {
    display: inline-block;
}

.checkboxes {
    float: right;
}

.editables {
    float: left;
}
