form  { display: table;      }
align { display: table-row;  }
label { display: table-cell; }
input {
    display: table-cell;
    text-align: right;
}

.inline-div {
    display: inline-block;
}

section {
    float: left;
}

aside {
    float: right;
}

footer {
    clear: both;
}
